<nav class="sep-sidenav" [class.sep-sidenav-collapsed]="collapsed" aria-label="Menu lateral">
  <ul class="sep-sidenav-list">
    @for (item of visibleItems(); track item.label) {
      <li class="sep-sidenav-item">
        @if (item.disabled) {
          <span class="sep-sidenav-link sep-sidenav-link-disabled" aria-disabled="true">
            {{ item.label }}
          </span>
        } @else {
          <a
            [routerLink]="item.route"
            routerLinkActive="sep-sidenav-link-active"
            class="sep-sidenav-link"
          >
            {{ item.label }}
          </a>
        }
      </li>
    }
  </ul>
</nav>
